<style>
    :root {
        --primary-color: #161640;
        --secondary-color: #efecf1;
        --info-color: #4848c7;
        --accent-color: #fa0304;

        --text-color: #51585e;
        --border-color: rgba(187, 187, 187, 0.88);
        --border-radius: 4px;
        --transition-duration: 0.2s;
        --checkbox-size: 20px;

        --glass-color: rgba(213, 208, 208, 0.64);
        --font-size-small: 0.9em;
        --font-size-medium: 1em;
        --font-size-big: 1em;

        --error-color: #f81919;

        --font-small: 12px;
        --font-big: 20px;
        --padding-default: 1em;

        --border-radious: 0.7em;


        --shadow-color: #48483766;
        --shadow-hover-color: #507AFF7A;
    }

    .blur {
        backdrop-filter: blur(6px);
    }
</style>