<card id="login" title="Login to your account!" button-text="Upload">
    <field type="text"
           message="Error"
           label="Login"
           icon="fa-user"
           name=""
           id="name"
           tooltip="This is main user login!"
           placeholder="Mark"/>
    <field type="email"
           message="this is not correct value for this!"
           label="Email"
           icon="fa-envelope"
           name=""
           tooltip="This is main user email!"
           id="email"
           placeholder="example@gmail.com"/>
    <field type="number"
           message="Invlid emile!"
           label="Age"
           icon="fa-person"
           tooltip="Wprowadź hasło!"
           name=""
           id="age"
           placeholder="13"/>
    <field type="password"
           message="Error"
           label="Password"
           icon="fa-lock"
           id="password"
           placeholder="******"/>
    <card.footer>
        <iconButton name="Zaloguj się" icon="fa-user"></iconButton>
    </card.footer>
</card>