<div >
    <Image class="profile-image"
           link="https://play-lh.googleusercontent.com/LqgSQHWNv9Dc7DS_J3BgYfZviCti_RBgQNDUHqFWqMLkdhbBxXOQy7cacNXCz5mSMqQ"/>
</div>


<style>
    .profile-image {
        max-width: 60px;
        border-radius: 2em;
        border: 0.07em solid var(--border-color);
        box-shadow: 0 0 10px 5px var(--shadow-color);
        transition: color 0.3s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out, border-radius 0.1s ease;
    }

    .profile-image:hover {
        border: none;
        cursor: pointer;
        transform: scale(1.1);
    }
</style>